html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --white: #ffffff;
  --white-second: #f7f7f7;
  --gray-light: #e8e9ed;
  --gray: #00000029;
  --gray-second: #95989a;
  --gray-third: #707070;
  --gray-darker: #a5a5a5;
  --black: #000000;
  --black-second: #13253b;
  --blue-light: #07ace629;
  --blue: #08a6e4;
  --blue-dark: #07ace6;
  --pink-lightest: #ff091129;
  --pink-light: #f9043629;
  --pink: #fb3b64;
  --pink-dark: #eb476e;
  --green: #55dfb4;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

header {
  height: 70px;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 3px 6px var(--gray);
  opacity: 1;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  color: var(--blue);
  font-size: 32px;
  font-family: var(--secondary-font);
  letter-spacing: 0px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}

.header-nav {
  height: 100%;
}

.header-nav ul {
  display: flex;
  height: 100%;
}

.header-nav li {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.header-nav a {
  text-decoration: none;
  color: var(--gray-darker);
  letter-spacing: 3.28px;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.header-nav li:hover a {
  height: 100%;
  width: auto;
  border-bottom: 3px solid var(--blue);
  color: var(--black);
}

.hero {
  height: 712px;
  width: 100%;
  background-color: var(--white);
  opacity: 1;
}

.hero .container {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  opacity: 1;
}

.hero h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary-font);
  letter-spacing: 0px;
  opacity: 1;
  font-size: 49px;
  margin-top: 130px;
}

.hero p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
  margin-top: 20px;
}

.hero button {
  position: absolute;
  transform: translate(104.5%);
  margin-top: 38px;
  width: 440px;
  height: 67px;
  background-color: var(--blue);
  box-shadow: 5px 10px 14px var(--blue-light);
  border-radius: 40px;
  opacity: 1;
  border: none;
}

.hero button a {
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  height: 22px;
  width: 126px;
  text-align: center;
}

.hero img {
  height: 594px;
  width: 1735px;
  margin-top: 70px;
}

.statistics {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 531px;
  background-color: var(--white);
  opacity: 1;
}

.statistics h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary-font);
  letter-spacing: 0px;
  opacity: 1;
  font-size: 36px;
  margin-top: 120px;
}

.statistics-articles {
  display: flex;
  justify-content: space-between;
  margin-top: 101px;
}

.article1 {
  display: flex;
  flex-direction: column;
  margin-left: 290px;
}

.article2 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.article3 {
  display: flex;
  flex-direction: column;
  margin-right: 270px;
}

.circle1 {
  height: 63px;
  width: 63px;
  border: none;
  border-radius: 50%;
  background-color: var(--pink);
}

.circle2 {
  height: 63px;
  width: 63px;
  border: none;
  border-radius: 50%;
  background-color: var(--blue);
}

.circle3 {
  height: 63px;
  width: 63px;
  border: none;
  border-radius: 50%;
  background-color: var(--green);
}

.article1 img, .article2 img, .article3 img {
  height: 52px;
  width: 44px;
  display: flex;
  align-self: flex-start;
}

.article1 h3, .article2 h3, .article3 h3 {
  margin-top: 22px;
  margin-bottom: 19px;
  font-size: 20px;
  color: var(--black);
  font-family: var(--secondary-font);
  font-weight: 800px;
  text-align: center;
  letter-spacing: 5.96px;
  opacity: 1;
}

.article1 p, .article2 p, .article3 p {
  color: var(--gray-darker);
  font-size: 17px;
  font-family: var(--secondary-font);
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
}

.article1 h3 {
  margin-left: -20px;
}

.article1 p {
  margin-left: -50px;
}

.article2 h3 {
  margin-left: -20px;
}

.article2 p {
  margin-left: -50px;
}

.article3 h3 {
  margin-left: -20px;
}

.article3 p {
  margin-left: -40px;
}

.article1 img, .article2 img, .article3 img {
  margin-left: 35px;
}

.benefits {
  padding-top: 105px;
  padding-bottom: 105px;
  height: 1395px;
  background-color: var(--white-second);
  opacity: 1;
}

.benefits h2 {
  color: var(--black);
  font-size: 36px;
  font-family: var(--secondary-font);
  text-align: left;
  letter-spacing: 0px;
}

.benefits p {
  color: var(--black);
  font: 16px;
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  margin: 50px;
}

.line1 {
  border: 1px solid var(--pink);
  width: 327px;
}

.line2 {
  border: 1px solid var(--blue);
  width: 327px;
}

.line3 {
  border: 1px solid var(--green);
  width: 327px;
}


.first-benefit, .second-benefit {
  width: 1124px;
  height: 370px;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first-benefit h2, .line1 {
  margin-left: 49px;
}

.second-benefit h2, .line2 {
  margin-left: 49px;
}

.third-benefit h2, .line3 {
  margin-left: 49px;
}
