
    $white-second: #f7f7f7;
    $white: #ffffff;
    $gray-light: #e8e9ed;
    $gray: #00000029;
    $gray-second: #95989a;
    $gray-third: #707070;
    $gray-darker: #a5a5a5;
    $black: #000000;
    $black-second: #13253b;
    $blue-light: #07ace629;
    $blue: #08a6e4;
    $blue-dark: #07ace6;
    $pink-lightest: #ff091129;
    $pink-light: #f9043629;
    $pink: #fb3b64;
    $pink-dark: #eb476e;
    $green: #55dfb4;
    $primary-font: "Open Sans", sans-serif;
    $secondary-font: "Raleway", sans-serif;