@media (max-width: 1024px) {
  .hero-content {
    h1,
    p {
      padding: 0 4rem;
    }
    h1 {
      font-size: 3rem;
      font-weight: 300;
    }
  }
  .hero-content a {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1.3rem 6.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  margin-top: 130px;
  text-align: center;
}

.hero h1 {
  color: $black;
  text-align: center;
  font-family: $secondary-font;
  font-size: 3.0625rem;
}

.hero p {
  color: $black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 38px;
}

.button-hero {
  color: $white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 35px;
  border: none;
}

.button-primary {
  background-color: $blue;
  border-radius: 35px;
  box-shadow: 3px 10px 14px rgba(7, 172, 230, 0.16);
}

.button-large {
  padding: 22px 155px;
}

.hero img {
  width: 100%;
  height: auto;
}

